* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background-color: bisque;
  }
  .navbar {
    display: inline-block;
    position: sticky;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    cursor: pointer;
    text-align: center;
}
.background {
  background-color: dodgerblue;
  height: 70px;
  position: fixed;
  left: 0px;
  right: 0px;
}
.navbar > p {
  text-decoration: none;
  margin-left: 70px;
}
.scroller {
  margin-top: 80px;
}
  .container {
    border-radius: 90px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    padding: 20px;
    border-color: #ccc;
    background-color: white;
    margin: 10px;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  } */ 
  .username {
    color: lime;
  }
  .time-right {
    float: right;
    color: rgb(226, 16, 163);
  }
  
  .time-left {
    float: left;
    color: rgb(226, 16, 163);
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    position: fixed;
    }

    input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    #post-form {
      margin: 0% auto;
      position: fixed;
      bottom: 0px;
      right: 10%;
      left: 10%;
      max-width: 800px;
      background-color: gray;
      padding: 3px;
      border-radius: 5px;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }
    /* .scroller {
      overflow: auto;
      height: 100%;
      max-height: 20em;
      background: white;
      }

      .messages > * {
      overflow-anchor: none;
      }

      #post-form {
      overflow-anchor: auto;
      height: 1px;
      }

      .message {
      margin: .3em;
      padding: .5em;
      background: #eee;
      } */